.box {
	width: 80px;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading {
	width: 30px;
	height: 30px;
	border: 2px solid black;
	border-radius: 50%;
	border-top: 2px solid white;
	animation: spin .7s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
